# 以下配置均为可选配置

# valkey 配置
VALKEY=

# QQ 机器人配置
QQ_SECRET=
QQ_APPID=

# 微信公众号配置
WECHAT_APPID=
WECHAT_TOKEN=
WECHAT_AES_KEY=
WECHAT_SECRET=

# BOT 管理与测试 TOKEN
BOT_ADMIN_TOKEN=

# Token 加密密钥
SECRET=

# 图片代理配置
IMGPROXY_SECRET=
