@charset "utf-8";
@import '~bulmaswatch/superhero/_variables.scss';
@import '_variables.scss';
@import '~bulma/bulma';
@import '~bulmaswatch/superhero/_overrides.scss';
@import '_overrides.scss';

@media (max-width: $tablet) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.no-wordwrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden visible;
  word-wrap: break-word;
}

.table-fixed {
  table-layout: fixed;
}

i.chn-icon {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
}

i.chn-icon::before {
  content: ' ';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 45px;
  margin-left: -10px;
  height: 20px;
  background-image: url('../img/flags/CHN.png');
}
