@import 'tailwindcss';
@plugin 'tailwindcss-motion';
@plugin '@tailwindcss/aspect-ratio';

@import './lib/tippy.css';

@theme {
	--aspect-map: 360 / 225;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Fake one line content to make line height the same as the content when there is no content */
.fake-content::after {
	content: '.';
	visibility: hidden;
}

/* Subtle scrollbar styles for the element itself */
.scrollbar-subtle::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.scrollbar-subtle::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #101625;
}
.scrollbar-subtle::-webkit-scrollbar-track:hover {
	background-color: #101625;
}
.scrollbar-subtle::-webkit-scrollbar-track:active {
	background-color: #101625;
}
.scrollbar-subtle::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #617ca2;
}
.scrollbar-subtle::-webkit-scrollbar-thumb:hover {
	background-color: #4c607e;
}
.scrollbar-subtle::-webkit-scrollbar-thumb:active {
	background-color: #6a87b1;
}

/* Subtle scrollbar styles for child elements (for cases where needed) */
.scrollbar-subtle *::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.scrollbar-subtle *::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #101625;
}
.scrollbar-subtle *::-webkit-scrollbar-track:hover {
	background-color: #101625;
}
.scrollbar-subtle *::-webkit-scrollbar-track:active {
	background-color: #101625;
}
.scrollbar-subtle *::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #617ca2;
}
.scrollbar-subtle *::-webkit-scrollbar-thumb:hover {
	background-color: #4c607e;
}
.scrollbar-subtle *::-webkit-scrollbar-thumb:active {
	background-color: #6a87b1;
}
